.techSkills{
    margin-top: 110px;
    margin-left: 38px;
}

.skillsHeading{
    font-size: 40px;
    width: 50%;
    float: left;
}

.simg{
    margin-top: -35px;
    margin-left: -305px;
}

.sdetails{
    padding-top: 80px;
}
