.extraCurriculars{
    margin-top: 110px;
    margin-left: 38px;
    margin-bottom: 30px;
}

.extraCurricularsHeading{
    font-size: 40px;
    width: 50%;
    float: left;
}

.ecimg{
    margin-top: -35px;
    margin-left: -80px;
}

.ecdetails{
    padding-top: 80px;
}
