.pors{
    margin-top: 120px;
    margin-left: 38px;
}

.porHeading{
    font-size: 40px;
    width: 50%;
    float: left;
}

.porimg{
    margin-top: -35px;
    margin-left: -65px;
}

.pordetails{
    padding-top: 80px;
}
