.achievements{
    margin-top: 140px;
    margin-left: 38px;
}

.achievementsHeading{
    font-size: 40px;
    width: 50%;
    float: left;
}

.aimg{
    margin-top: -35px;
    margin-left: -390px;
}

.adetails{
    padding-top: 80px;
}
