.experience{
    margin-top: 100px;
    margin-left: 38px;
}

.work-ex-heading{
    font-size: 40px;
    width: 50%;
    float: left;
}

.img{
    margin-top: -35px;
    margin-left: -310px;
}

.ex-details{
    padding-top: 80px;
}
